@media (min-width: 520px) {
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Start Nostalgic Styling*/
    .sizing {
        width: auto !important;
        height: 600px !important;
    }

    .detail {
        justify-content: center;
        display: flex;
        background-color: #8DC2D9 ;
        /*background-color: #D186BC ; */
    }

    .detail > img {
        border-radius: 0;
        display: block;
        margin: auto;
    }
}

.detail:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    background: none;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}