
.img-style {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.press a {
    color: #787878;
}

.press a:hover {
    color: #787878 !important;
    text-decoration: none;
}

.press p:hover {
    color: #787878;
    text-decoration: none;
}

.img-container {
    height: 300px;
}

.img-sizer {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
