.spacing-top-minus {
    margin-top: 0 !important;
}

.projects h2 {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.padding-top {
    padding-top: 2em !important;
}

.active {
    border-color: #D186BC;
    color: #D186BC !important;
}


.img-container {
    height: 300px;
}

.img-sizer {
    object-fit: cover;
    width: 100%;
    height: 100%;
}