.spacing-top-minus {
    margin-top: 0 !important;
}

.projects h2 {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.padding-top {
    padding-top: 2em !important;
}

.active {
    border-color: #D186BC;
    color: #D186BC !important;
}